USE [master]
GO
/****** Object:  Database [Glow]    Script Date: 11/24/2024 3:54:07 PM ******/
CREATE DATABASE [Glow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Glow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Glow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Glow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Glow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Glow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Glow]
GO
/****** Object:  Table [dbo].[BranchOffice]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchOffice](
	[BranchOfficeID] [int] IDENTITY(1,1) NOT NULL,
	[NameBranchOffice] [nvarchar](256) NOT NULL,
	[DirectionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchOfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] NOT NULL,
	[NumberOfPurchases] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clothes]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clothes](
	[ClothesID] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
	[Brand] [nvarchar](256) NOT NULL,
	[Material] [nvarchar](256) NOT NULL,
	[Color] [nvarchar](256) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Type] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[SupplierID] [int] NOT NULL,
	[ClothingStateID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClothesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClothingState]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClothingState](
	[ClothingStateID] [int] IDENTITY(1,1) NOT NULL,
	[Wearable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClothingStateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[DirectionID] [int] IDENTITY(1,1) NOT NULL,
	[MainStreet] [nvarchar](258) NULL,
	[SecondaryStreet] [nvarchar](258) NULL,
	[Neighborhood] [nvarchar](258) NULL,
	[City] [nvarchar](258) NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[NamePerson] [nvarchar](258) NOT NULL,
	[LastNamePerson] [nvarchar](258) NOT NULL,
	[Email] [nvarchar](258) NOT NULL,
	[DirectionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleID] [int] IDENTITY(1,1) NOT NULL,
	[TotalToPay] [decimal](10, 2) NOT NULL,
	[Date] [date] NOT NULL,
	[PaymentMethod] [nvarchar](256) NOT NULL,
	[BranchOfficeID] [int] NOT NULL,
	[VendorID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[SaleStateID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesDetail]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesDetail](
	[SalesDetailID] [int] IDENTITY(1,1) NOT NULL,
	[AmountOfClothes] [int] NOT NULL,
	[ClothesID] [int] NOT NULL,
	[SaleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleState]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleState](
	[SaleStateID] [int] IDENTITY(1,1) NOT NULL,
	[Completed] [bit] NOT NULL,
	[Canceled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleStateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[NameSupplier] [nvarchar](256) NOT NULL,
	[DirectionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyDetail]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyDetail](
	[SupplyDetailID] [int] IDENTITY(1,1) NOT NULL,
	[QuantitySupplied] [int] NOT NULL,
	[SuplyDate] [date] NULL,
	[BranchOfficeID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplyDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 11/24/2024 3:54:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorID] [int] NOT NULL,
	[NumberOfSales] [int] NULL,
	[EntryTime] [time](7) NOT NULL,
	[ExitTime] [time](7) NOT NULL,
	[StartDate] [date] NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[BranchOfficeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client] ADD  DEFAULT ((0)) FOR [NumberOfPurchases]
GO
ALTER TABLE [dbo].[ClothingState] ADD  DEFAULT ((0)) FOR [Wearable]
GO
ALTER TABLE [dbo].[SaleState] ADD  DEFAULT ((0)) FOR [Completed]
GO
ALTER TABLE [dbo].[SaleState] ADD  DEFAULT ((0)) FOR [Canceled]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ((0)) FOR [NumberOfSales]
GO
ALTER TABLE [dbo].[BranchOffice]  WITH CHECK ADD FOREIGN KEY([DirectionID])
REFERENCES [dbo].[Direction] ([DirectionID])
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Clothes]  WITH CHECK ADD FOREIGN KEY([ClothingStateID])
REFERENCES [dbo].[ClothingState] ([ClothingStateID])
GO
ALTER TABLE [dbo].[Clothes]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD FOREIGN KEY([DirectionID])
REFERENCES [dbo].[Direction] ([DirectionID])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([BranchOfficeID])
REFERENCES [dbo].[BranchOffice] ([BranchOfficeID])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([SaleStateID])
REFERENCES [dbo].[SaleState] ([SaleStateID])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([VendorID])
REFERENCES [dbo].[Vendor] ([VendorID])
GO
ALTER TABLE [dbo].[SalesDetail]  WITH CHECK ADD FOREIGN KEY([ClothesID])
REFERENCES [dbo].[Clothes] ([ClothesID])
GO
ALTER TABLE [dbo].[SalesDetail]  WITH CHECK ADD FOREIGN KEY([SaleID])
REFERENCES [dbo].[Sale] ([SaleID])
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD FOREIGN KEY([DirectionID])
REFERENCES [dbo].[Direction] ([DirectionID])
GO
ALTER TABLE [dbo].[SupplyDetail]  WITH CHECK ADD FOREIGN KEY([BranchOfficeID])
REFERENCES [dbo].[BranchOffice] ([BranchOfficeID])
GO
ALTER TABLE [dbo].[SupplyDetail]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD FOREIGN KEY([BranchOfficeID])
REFERENCES [dbo].[BranchOffice] ([BranchOfficeID])
GO
ALTER TABLE [dbo].[Vendor]  WITH CHECK ADD FOREIGN KEY([VendorID])
REFERENCES [dbo].[Person] ([PersonID])
GO
USE [master]
GO
